.SUBSCRIBE-button {
    background-color:rgb(204, 0, 0);
    color:white;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 5px;
    transition: opacity 0.15s ;
    vertical-align:top ;
  }

  .SUBSCRIBE-button:hover {
    opacity: 0.8;
  }

  .SUBSCRIBE-button:active {
    opacity: 0.4;
  }

  .Join-button {
   background-color: white;  
   border-color: rgb(6, 95, 212);
   border-style: solid;
   border-width: 0.7px;
   color: rgb(6, 95, 212);
   border-radius: 2px;
   cursor: pointer;
   padding-top: 9px;
   padding-bottom: 10px;
   padding-left: 16px;
   padding-right: 16px;
   transition: background-color 0.15s,#ترنش میشن ها باید همیشه توی خط اصلی باشه
    color 0.15s;
  
  }

  .Join-button:hover {
    background-color: rgb(28, 100, 187);
    color: white;
  }
  .Join-button:active {
    opacity: 0.5 ;
  }

  .Tweet-button {
    background-color: rgb(29, 155, 240);
    color: white;
    border: none;
    height: 34px;
    width: 70;
    border-radius: 18px;
    font-size: 15px;
    cursor: pointer;
    margin-left: 5px;
    transition: box-shadow 0.15;
    vertical-align: top;
  }
  .Tweet-button:hover {
    box-shadow: 5px 5px 10px rgba(0,0,0,0.17)